*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background: url(../Images/backgournd-img.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    text-align: center;
}

body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 900px;
    background: rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
    z-index: -1;
    transform: translateX(-50%);
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

img{
    width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

header .container{
    padding: 4rem 0;
    text-align: center;
    background-color: orange;
    border-radius: 0 0 5rem 5rem;
    margin-bottom: 2rem;
}

header h1{
    font-size: 3rem;
    color: white;
    padding-bottom: 1rem;
}

form input,form button{
    outline: none;
    border: none;
    font-family: inherit;
  
}

form input{
    width: 50%;
    border-radius: 1rem 0 1rem 0;
    margin-right: 3px;
    border-bottom: 3px solid blueviolet;
    padding: 1rem;
}

form button{
    background-color: blueviolet;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px; 
    transition: all 0.3s ease;

}

form button:hover{
    border: 1px solid white;
}

section .container{
    display: block;
    margin-right: 0 auto;
    color: white;
    padding: 3rem 0;
    font-weight: bold;
}
